BallonsTranslator/
.venv
__pycache__/
/_scraped_images/
.env
MangaWebTranslator/services/ocr/debug/
MangaWebTranslator/data/
junk do not use/
/_ocr_debug/
manga-image-translator-beta-0.2.1/
test/jisho_cleaned_output.json
